{erl_opts, [ {parse_transform, lager_transform} ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
    {mnesia_eleveldb,{git,"https://github.com/klarna/mnesia_eleveldb.git",{tag, "1.1.1"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [dlss]}
]}.

{relx,[
    {release, {"dlss", "0.0.1"},[
        kernel,
        stdlib,
        lager,
        {mnesia,load},
        mnesia_eleveldb
    ]},
    {include_erts, false},
    {vm_args, "./config/vm.args"},
    {sys_config, "./config/sys.config"},
    {overlay,[]}
]}.

{profiles, [
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [
            {dev_mode, false},
            {include_src, false},
            {include_erts, true }
        ]}
    ]}
]}.