{erl_opts, [ {parse_transform, lager_transform}, warnings_as_errors ]}.

{deps, [
    {lager, {git, "https://github.com/erlang-lager/lager.git", {tag, "3.8.0"}}},
    {mnesia,{git,"https://github.com/vzroman/mnesia.git",{branch, "skip_logging_dirty_writes"}}},
    {mnesia_eleveldb,{git,"https://github.com/vzroman/mnesia_eleveldb.git",{branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [dlss]}
]}.

%%-----eleveldb for rebar3------------------
{overrides,[
    {override, eleveldb,[
        {artifacts, ["priv/eleveldb.so"]},
        {pre_hooks, [
            {compile, "c_src/build_deps.sh get-deps"},
            {compile, "c_src/build_deps.sh"}
        ]},
        {post_hooks, [{clean, "c_src/build_deps.sh clean"}]},
        {plugins, [pc]},
        {provider_hooks, [
            {post, [
                {compile, {pc, compile}},
                {clean, {pc, clean}}
            ]}
        ]}
     ]}
]}.
